<launch>
    <arg name="world_frame_name" default="world"/>
    <arg name="relative_frame_name" default="map"/>

    <node name="localization_manager_node" pkg="localization_manager" type="localization_manager_node" output="screen">
        <param name="world_frame_name" value="$(arg world_frame_name)"/>
    </node>
</launch>
